* {
  margin: 0px;
  padding: 2px;
}
body {
  font-size: 120%;
}

.header {
  width: 45%;
  margin: 50px auto 0px;
  color: white;
  background: #93b4cd;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 45%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.button {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #93b4cd;
  border: none;
  border-radius: 5px;
}
.err {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: white; 
  background: #7590a4; 
  border: 1px solid white;
  margin-bottom: 20px;
}